<form [formGroup]="form_cliente">
    <h1 mat-dialog-title>{{data.action}}</h1>
    <mat-dialog-content>
        <section class="wrapper">
            <section class="column">
                <h3>Ingresa tu Nombre:</h3>
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName="nombre">
                </mat-form-field>
                <h3>Ingresa tu Primer Apellido:</h3>
                <mat-form-field appearance="fill">
                    <mat-label>Primer Apellido</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName="primerap">
                </mat-form-field>
                <h3>Ingresa tu Segundo Apellido:</h3>
                <mat-form-field appearance="fill">
                    <mat-label>Segundo Apellido</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName="segundoap">
                </mat-form-field>
                <h3>Ingresa tu Correo:</h3>
                <mat-form-field appearance="fill">
                    <mat-label>Correo</mat-label>
                    <input type="email" matInput autocomplete="off" formControlName="correo">
                </mat-form-field>
                <h3>Ingresa tu CURP:</h3>
                <mat-form-field appearance="fill">
                    <mat-label>CURP</mat-label>
                    <input type="email" matInput autocomplete="off" formControlName="curp">
                </mat-form-field>
                <h3>Sexo:</h3>
                <mat-form-field>
                    <mat-label>Selecciona un Sexo</mat-label>
                    <mat-select formControlName="sexo">
                        @for(sexo of sexos; track sexo){
                        <mat-option [value]="sexo.id">{{sexo.nombre}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <h3>Ingresa tu Telefono Fijo:</h3>
                <mat-form-field appearance="fill">
                    <mat-label>Telefono Fijo</mat-label>
                    <input type="tel" matInput autocomplete="off" formControlName="telefonoFijo">
                </mat-form-field>
                <h3>Ingresa tu Telefono Celular:</h3>
                <mat-form-field appearance="fill">
                    <mat-label>Telefono Celular</mat-label>
                    <input type="tel" matInput autocomplete="off" formControlName="telefono">
                </mat-form-field>
            </section>
            <section class="column">
                <h3>Ingresa tu Calle:</h3>
                <mat-form-field appearance="fill">
                    <mat-label>Calle</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName="calle">
                </mat-form-field>
                <h3>Ingresa tu Número Exterior:</h3>
                <mat-form-field appearance="fill">
                    <mat-label>Número Exterior</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName="exterior">
                </mat-form-field>
                <h3>Ingresa tu Número Interior:</h3>
                <mat-form-field appearance="fill">
                    <mat-label>Número Interior</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName="interior">
                </mat-form-field>
                <h3>Ingresa tu Código Postal:</h3>
                <mat-form-field appearance="fill">
                    <mat-label>Código Postal</mat-label>
                    <input type="email" matInput autocomplete="off" formControlName="postal">
                </mat-form-field>
                <h3>Selecciona un Estado:</h3>
                <mat-form-field>
                    <mat-label>Estado</mat-label>
                    <mat-select [formControl]="estadoControl">
                        @for(estado of estadoService.getEstados(); track estado){
                        <mat-option [value]="estado.id">{{estado.nombre}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <h3>Selecciona un Municipio:</h3>
                <mat-form-field>
                    <mat-label>Municipio</mat-label>
                    <mat-select [formControl]="municipioControl">
                        @for(municipio of municipios; track municipio){
                        <mat-option [value]="municipio.id">{{municipio.nombre}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <h3>Selecciona un Localidad:</h3>
                <mat-form-field>
                    <mat-label>Localidad</mat-label>
                    <mat-select [formControl]="localidadControl">
                        @for(localidad of localidades; track localidad){
                        <mat-option [value]="localidad.id">{{localidad.nombre}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

            </section>
        </section>
        <h1>Mascotas</h1>
        <app-agregar-mascota></app-agregar-mascota>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button type="submit" (click)="saveCliente()" mat-raised-button color="primary"
            [disabled]="form_cliente.invalid">{{data.action}}</button>
        <button mat-button color="warn" (click)="this.dialogRef.close()">Cancelar</button>
    </mat-dialog-actions>
</form>