<mat-toolbar color="primary">
    <mat-toolbar-row *ngIf="!user">
        <a>Pet Vet</a>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="user">
            <button routerLink="/home/" mat-icon-button aria-label="Inicio">
                <mat-icon>home</mat-icon>
            </button>
            <!---Menu Principal-->
            <span>
                <a *ngIf="user.tipo == 0 || user.tipo == 1" routerLink="/home/empleados" mat-button>
                    Empleados
                </a>
                <a *ngIf="user.tipo == 0 || user.tipo == 1 || user.tipo == 2" routerLink="/home/clientes" mat-button>
                    Clientes
                </a>
                <a routerLink="/home/citas" mat-button>
                    Citas
                </a>
            </span>
            <button (click)="logout()" mat-icon-button aria-label="Salir">
                <mat-icon>logout</mat-icon>
            </button>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
