<h1 mat-dialog-title>Ver Empleado</h1>
<mat-dialog-content *ngIf="data">
        <span>Nombre: <b>{{data.nombre}}</b></span>
        <span>Primer Apellido: <b>{{data.primerApellido}}</b></span>
        <span>Segundo Apellido: <b>{{data.segundoApellido}}</b></span>
        <span>Correo: <b>{{data.email}}</b></span>
        <span>Rol: <b>{{getRolbyId(data.rol)}}</b> </span>
        <span>Sexo: <b>{{getSexo(data.sexo)}}</b> </span>
        <span>Fecha de Nacimiento: <b>{{data.fechaNacimiento | date:'shortDate'}}</b></span>
        <span>Fecha de Ingreso: <b>{{data.fechaIngreso | date:'shortDate'}}</b></span>
        <span>Telefono: <b>{{data.telefono}}</b></span>
        <span>Activo: <b>{{data.activo ? 'Si' : 'No'}}</b></span>
</mat-dialog-content>
<mat-dialog-content *ngIf="!data">
    <span >Empleado no encontrado</span>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="warn" (click)="onNoClick()">Cerrar</button>
</mat-dialog-actions>
