<h1 mat-dialog-title>Ver Citas {{fecha | date: "dd-MM-yyyy"}}</h1>
<mat-dialog-content>
    @if(citas.length == 0){
        <h3>No hay citas para este día</h3>
    } @else {
        @for(cita of citas; track cita){
            <app-mostrar-cita [cita]="cita"></app-mostrar-cita>
        }
    }
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="primary" (click)="onNoClick()">Crear Cita Hoy</button>
    <button mat-button color="warn" (click)="onNoClick()">Cancelar</button>
</mat-dialog-actions>
