<form [formGroup]="form_empleado">
    <h1 mat-dialog-title>{{data.action}}</h1>
    <mat-dialog-content>
        <section>
            <h4>Ingresa tu Nombre:</h4>
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="nombre">
            </mat-form-field>
            <h4>Ingresa tu Primer Apellido:</h4>
            <mat-form-field appearance="fill">
                <mat-label>Primer Apellido</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="primerap">
            </mat-form-field>
            <h4>Ingresa tu Segundo Apellido:</h4>
            <mat-form-field appearance="fill">
                <mat-label>Segundo Apellido</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="segundoap">
            </mat-form-field>
            <h4>Ingresa tu Correo:</h4>
            <mat-form-field appearance="fill">
                <mat-label>Correo</mat-label>
                <input type="email" matInput autocomplete="off" formControlName="correo">
            </mat-form-field>
            <h4>Selecciona Sexo:</h4>
            <mat-form-field>
                <mat-label>Sexo</mat-label>
                <mat-select formControlName="sexo" name="sexo">
                    @for (sexo of sexoService.getSexos(); track sexo) {
                        <mat-option [value]="sexo.id">{{sexo.nombre}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

        </section>
            
        <section>
            <h4>Selecciona un Rol:</h4>
            <mat-form-field>
                <mat-label>Rol</mat-label>
                <mat-select id="rol" formControlName="rol" name="rol">
                    @for (rol of rolService.getRoles(); track rol) {
                        <mat-option [value]="rol.id">{{rol.nombre}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <h4>Ingresa tu Telefono:</h4>
            <mat-form-field appearance="fill">
                <mat-label>Telefono</mat-label>
                <input type="tel" matInput autocomplete="off" formControlName="telefono">
            </mat-form-field>
            <h4>Selecciona una Fecha:</h4>
            <mat-form-field>
                <mat-label>Fecha de Nacimiento</mat-label>
                <input matInput [matDatepicker]="nacimiento" formControlName="fechaNacimiento">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="nacimiento"></mat-datepicker-toggle>
                <mat-datepicker #nacimiento></mat-datepicker>
            </mat-form-field>
            <h4>Selecciona una Fecha:</h4>
            <mat-form-field>
                <mat-label>Fecha de Ingreso</mat-label>
                <input matInput [matDatepicker]="ingreso" formControlName="fechaIngreso">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle  matIconSuffix [for]="ingreso"></mat-datepicker-toggle>
                <mat-datepicker #ingreso></mat-datepicker>
            </mat-form-field>
            <mat-checkbox formControlName="activo" color="primary" labelPosition="before">Activo:</mat-checkbox>
        </section>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button type="submit" (click)="saveEmpleado()" mat-raised-button color="primary" [disabled]="form_empleado.invalid">{{data.action}}</button>
        <button mat-button color="warn" (click)="this.dialogRef.close()">Cancelar</button>
    </mat-dialog-actions>
</form>